@model string;

@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <div class="fixed-bottom text-right m-3">
        <a class="btn btn-success" asp-controller="@Model" asp-action="Create">
            <i class="bi bi-plus-circle"></i>&nbsp;Add New
        </a>
    </div>
}