@{
    ViewData["Title"] = "Not Found";
}

<div class="container-fluid">

    <div class="row">
        <div class="col-6 offset-3">
            <h1 class="text-info">You've reached the end of the internet</h1>
            <hr />
        </div>
    </div>
    <div class="row text-center">
        <div class="col-4 offset-4">
            <a class="btn btn-outline-success" asp-controller="Movies" asp-action="Index">
                << Home Page
            </a>
        </div>
    </div>

</div>